.body {
  width: 100vw;
  height: 90vh;
  box-sizing: border-box;
  background-color: black;
  padding: 0;
  padding-top: 0.5rem;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.iconstatus {
  width: 90%;
  height: 3rem;
  margin: auto;

  display: flex;
  flex-direction: row;
}

.iconstatus img {
  height: 1.5rem;
  width: 1.5rem;
  margin-top: auto;
  margin-bottom: auto;
}

#lastupdate {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  text-justify: auto;
  color: aliceblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
}

.batteryindicator {
  top: 0.5rem;
  right: 0.5rem;
  color: white;
  font-size: 1.2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: left;
  align-content: center;
}

#batteryvoltage {
  margin-top: auto;
  margin-bottom: auto;
}

#map {
  height: 100%;
  min-height: 50vh;
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;

  border-radius: 1rem;
}

.timeframeselector {
  display: grid;

  width: 95%;
  margin: auto;
  margin-bottom: 2rem;
  height: 4rem;
  padding: auto;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.timeframeselector button {
  width: 80%;
  height: 100%;
  border-radius: 1rem;
  margin: auto;
}

.bottombuttons {
  width: 90%;
  margin: auto;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottombuttons img {
  width: 2rem;
  height: 2rem;
}

#settingswrapper {
  background-color: rgba(240, 248, 255, 0.147);
  position: absolute;
  height: 4rem;
  width: 100%;
  bottom: 1rem;

  display: none;
  grid-template-columns: 4fr 1fr;
}

#settingswrapper input {
  margin: 0.2rem;
  border-radius: 0.5rem;
}

#settingswrapper button {
  margin: 0.2rem;
  border-radius: 0.5rem;
}
